<h2>Profile</h2>
<form ng-submit="processForm()">
  <!-- Type -->
  <div class="form-group">
    <label>Who are you?</label>
    <div class="radio">
      <label>
        <input type="radio" name="userType" value="teacher" ng-model="formData.type"> Teacher
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="userType" value="student" ng-model="formData.type"> Student or Parent
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<h2>Profile</h2>
<form ng-submit="changePassword()">
  <!-- Password -->
  <div class="form-group">
    <label>Change Password</label>
    <input type="password" class="form-control" placeholder="Enter your current password" ng-model="credentials.oldPassword">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Enter a new password" ng-model="credentials.newPassword">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{{formData}}

{{credentials}}